img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-top: 1rem;
  }

  .card {
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0.1);
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-body {
    font-size: 1rem;
    color: #666
}

