<div class="card">
    <h2 class="card-title"> {{ recipe().name }}</h2>
    
    <p class="card-body">{{ recipe().description }}</p>
    <img [src]="recipe().imgUrl" [alt]="recipe().name">
    
    <div>
        <p>Current Number of Servings: {{ serving() }}</p>
        <button (click)="increment()">+</button>
        <button (click)="decrement()">-</button>
    </div>
    
    <ul>
        @for (i of adjustedIngredients(); track i) {
            <li>{{ i.name }} - {{ i.quantity }} {{ i.unit }}</li>
        }
    </ul>
</div>
